body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ocr-controls {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-bottom: 20px;
}

.ocr-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
